@model ContactUs

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center mb-4" style="font-size: 35px !important; font-weight: 600 !important; color: #3b579d !important; ">Contact</h4>
                @{
                    if (Model == null)
                    {
                        <a class="btn btn-primary mb-3 px-5" asp-area="Admin" asp-controller="Contact" asp-action="Create">Create</a>
                    }
                    else
                    {
                        if (TempData["ContactError"] != null)
                        {
                            <p style="font-size: 20px !important;" class="alert alert-danger">@TempData["ContactError"]</p>

                            TempData["ContactError"] = null;
                        }

                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th class="tableTrCustom">
                                            Address
                                        </th>
                                        <th class="tableTrCustom">
                                            Phone
                                        </th>
                                        <th class="tableTrCustom">
                                            Email
                                        </th>
                                        <th class="tableTrCustom">
                                            Edit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        <tr>
                                            <td style="font-size: 18px !important; font-weight: 500 !important;">
                                                @Model.Address
                                            </td>
                                            <td style="font-size: 18px !important; font-weight: 500 !important;">
                                                @Model.Phone
                                            </td>
                                            <td style="font-size: 18px !important; font-weight: 500 !important;">
                                                @Model.Email
                                            </td>
                                            <td>
                                                <a class="mb-2 w-50 btn-sm btn btn-success w-100" asp-route-id="@Model.Id" asp-area="Admin" asp-controller="Contact" asp-action="Update">Update</a>
                                                <br>
                                                <a class="w-50 btn-sm btn btn-danger w-100" asp-route-id="@Model.Id" asp-area="Admin" asp-controller="Contact" asp-action="Delete" onclick="return confirm('Are you sure?')">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

