@model VmRestourant

@{
    ViewData["Title"] = "Index";
}

<div id="titlebar" class="gradient" style="background: url(assets/images/@Model.Banner.Image)">
    <div class="title-bar-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.Banner.SubTitle</h2>
                    <span>@Model.Banner.Title</span>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>@Model.Banner.SubTitle</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="title-overlay"></div>
</div>
<!-- Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <!-- Search -->
            <div class="col-md-12 grid-full-width page-search mb-3">
                <form class="main-search-input mt-0" asp-controller="Restourant" asp-action="Index" method="post">
                    <div class="col-lg-4 col-sm-8">
                        <div class="form-group style="padding: 0 100px !important;"">
                            <input style="outline: none !important; color: #4703b4 !important;" name="SearchData" type="text" placeholder="What are you looking for?" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-8">
                        <select style="box-shadow: none !important;" name="SearchTagData" class="custom-select my-1 mr-sm-2 new-select" id="inlineFormCustomSelectPref">
                            @{
                                <option selected>All Tags</option>
                                foreach (var tag in ViewBag.RestourantTags)
                                {
                                    <option value="@tag.Id">@tag.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-8 text-right">
                        <button type="submit" class="w-75 btn main-search-btn btn-radius btn-lg btn-primary text-white"><span class="btn-inner--text">Search</span></button>
                    </div>
                </form>
            </div>
            <!-- Search Section / End -->
            @{ 
                if (TempData["SearchError"] != null)
                {
                        <div class="w-100 my-5"> <p style="font-size: 25px !important; font-weight: 600 !important; color: #dc1f43 !important;" class="text-center text-danger"> @TempData["SearchError"] </p> </div>
                    TempData["SearchError"] = null;
                }

            }
            <div class="col-md-12">
                <div class="row">
                    <!-- Listing Item -->
                    @{
                        foreach (var item in Model.Restourants)
                        {
                            <div class="col-lg-12 col-md-12 mb-5">
                                <div class="listing-item-container list-layout">
                                    <div class="listing-item">
                                        <!-- Image -->
                                        <div class="listing-item-image">
                                            <a asp-controller="Restourant" asp-action="SingleRestourant" asp-route-Id="@item.Id"><img src="~/assets/images/@item.Logo" alt=""></a>
                                        </div>
                                        <!-- Content -->
                                        <div class="listing-item-content">
                                            <span class="badge badge-pill list-banner badge-success text-uppercase">
                                                @{
                                                    var time = item.OpeningTime - item.OpeningTime.Date;
                                                    var time2 = item.ClosingTime - item.ClosingTime.Date;
                                                    var currentTime = DateTime.Now - DateTime.Now.Date;

                                                    if (currentTime > time && currentTime < time2)
                                                    {
                                                        @("Open")
                                                    }
                                                    else
                                                    {
                                                        @("Closed")
                                                    }

                                                }
                                            </span>
                                            <div class="listing-item-inner">
                                                <!-- <DirectlistRating [rate]="list.rating"></DirectlistRating> -->
                                                <a asp-controller="Restourant" asp-action="SingleRestourant" asp-route-Id="@item.Id">
                                                    <h3>@item.Name</h3>
                                                </a>
                                                <div class="address-bar"> <small>@item.Address</small> </div>
                                                <div class="mt-3">
                                                    @{
                                                        foreach (var tags in item.RestourantTagToRestourants)
                                                        {
                                                            <span class="badge badge-pill badge-primary text-uppercase badge-cat">@tags.RestourantTag.Name</span>
                                                        }
                                                    }
                                                </div>

                                                </div>
                                            <span class="round-pill like-banner d-block @(Model.favourite==null? "bg-primary": Model.favourite.Any(f=>f==item.Id.ToString())? "bg-danger":"bg-primary")"> <a style="color: #fff !important;" asp-controller="Restourant" asp-action="AddToFavourites" asp-route-Id="@item.Id"><i class="fa fa-heart-o"></i></a> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- Listing Item / End -->
                </div>
                <!-- Pagination -->
                <div class="clearfix"></div>
                <!--<div class="row">
                    <div class="col-md-12">-->
                        <!-- Pagination -->
                        <!--<div class="mt-3">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>-->
                <!-- Pagination / End -->
            </div>
        </div>
    </div>
</div>

