@model VmRestourant

@{
    ViewData["Title"] = "Index";
}

<div id="titlebar" class="gradient">
    <div class="title-bar-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>List Full Width</h2>
                    <span>Explore New Places</span>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a>Home</a></li>
                            <li>Listings</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="title-overlay"></div>
</div>
<!-- Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <!-- Search -->
            <div class="col-md-12 grid-full-width page-search mb-3">
                <div class="main-search-input mt-0">
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <input type="text" placeholder="What are you looking for?" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <input type="text" placeholder="Location" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <select class="custom-select my-1 mr-sm-2 new-select" id="inlineFormCustomSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">Hotel</option>
                            <option value="2">Bar</option>
                            <option value="3">Food Courts</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-sm-6 text-right">
                        <a class="btn main-search-btn btn-radius btn-lg btn-primary text-white"><span class="btn-inner--text">Search</span></a>
                    </div>
                </div>
            </div>
            <!-- Search Section / End -->
            <div class="col-md-12">
                <!-- Sorting - Filtering Section -->
                <div class="row mt-4 mb-5">
                    <div class="col-md-6">
                        <!-- Layout Switcher -->
                        <div class="layout-switcher">
                            <a href="listings-grid-with-sidebar.html" class="grid"> <span class="round-pill d-block"><i class="fa fa-th"></i></span></a>
                            <a href="listings-list-with-sidebar.html" class="list active"><span class="round-pill d-block"><i class="fa fa-align-justify"></i></span></a>
                        </div>
                    </div>
                </div>
                <!-- Sorting - Filtering Section / End -->
                <div class="row">
                    <!-- Listing Item -->
                    @{
                        foreach (var item in Model.Restourants)
                        {
                            <div class="col-lg-12 col-md-12 mb-5">
                                <div class="listing-item-container list-layout">
                                    <div class="listing-item">
                                        <!-- Image -->
                                        <div class="listing-item-image">
                                            <a asp-controller="Restourant" asp-action="SingleRestourant" asp-route-Id="@item.Id"><img src="~/assets/images/@item.Logo" alt=""></a>
                                        </div>
                                        <!-- Content -->
                                        <div class="listing-item-content">
                                            <span class="badge badge-pill list-banner badge-success text-uppercase">Now Open</span>
                                            <div class="listing-item-inner">
                                                <!-- <DirectlistRating [rate]="list.rating"></DirectlistRating> -->
                                                <a asp-controller="Restourant" asp-action="SingleRestourant" asp-route-Id="@item.Id">
                                                    <h3>@item.Name</h3>
                                                </a>
                                                <div class="address-bar"> <small>@item.Address</small> </div>
                                                <div class="mt-3">
                                                    @{
                                                        foreach (var tags in item.RestourantTagToRestourants)
                                                        {
                                                            <span class="badge badge-pill badge-primary text-uppercase badge-cat">@tags.RestourantTag.Name</span>
                                                        }
                                                    }
                                                </div>

                                                </div>
                                            <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-heart-o"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- Listing Item / End -->
                </div>
                <!-- Pagination -->
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Pagination -->
                        <div class="mt-3">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Pagination / End -->
            </div>
        </div>
    </div>
</div>

