@model VmHome 

@{
    ViewData["Title"] = "Home Page";
}


<div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <div class="overlay-bg"></div>
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
            <div class="main-search-inner">
                <h2 class="text-white display-2">Find Restourants</h2>
                <h4 class="text-white">Expolore restourants</h4>
                <form class="main-search-input" asp-controller="Restourant" asp-action="Index" method="post">
                    <div class="main-search-input-item" style="padding: 0 100px !important;">
                        <input style="outline: none !important;" type="text" placeholder="What are you looking for?" name="SearchData" autocomplete="off" />
                    </div>
                    <div class="main-search-input-item">
                        <select style="box-shadow: none !important;" name="SearchTagData" data-placeholder="All Categories" class="chosen-select custom-select">
                            @{
                                <option selected>All Categories</option>
                                foreach (var tag in ViewBag.RestourantTags)
                                {
                                    <option value="@tag.Id" >@tag.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn main-search-btn btn-radius btn-lg btn-white">
                        <span class="btn-inner--text">Search</span>
                    </button>
                </form>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>
<div class="block-space">
    <div class="container">
        <div class="block-head text-center mb-5">
            <h2 class="head-line display-3">
                Restourants
            </h2>
            <p class="lead mt-2 head-desc">Restourants we offer</p>
        </div>
    </div>
    <!-- Categories Carousel -->
    <div class="fullwidth-carousel-container">
        <div class="fullwidth-slick-carousel category-carousel">
            <!-- Item -->
            @{
                foreach (var r in Model.Restourant)
                {
                    <div class="fw-carousel-item">
                        <div class="category-box-container text-center">
                            <div class="category-box">
                                <div class="category-box-content">
                                    <h3>
                                        <a asp-controller="Restourant" asp-action="SingleRestourant" asp-route-Id="@r.Id" class="text-white">
                                            @r.Name
                                        </a>
                                    </h3>
                                    <span>
                                        <small class="text-secondary badge badge-pill badge-success text-uppercase">
                                            @{
                                                var time = r.OpeningTime - r.OpeningTime.Date;
                                                var time2 = r.ClosingTime - r.ClosingTime.Date;
                                                var currentTime = DateTime.Now - DateTime.Now.Date;

                                                if (currentTime > time && currentTime < time2)
                                                {
                                                    @("Open")
                                                }
                                                else
                                                {
                                                    @("Closed")
                                                }

                                            }
                                        </small>
                                    </span>
                                </div>
                                <div class="category-box-background" style="background-image: url('assets/images/@r.Logo')">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</div>
<div class="block-space bg-primary">
    <div class="container">
        <div class="block-head text-center mb-5">
            <h2 class="head-line text-white display-3">
                Plan The Vacation of Your Dreams
            </h2>
            <div class="col-12 col-md-7 mx-auto pb-3">
                <p class="lead mt-2 head-desc text-white">Explore some of the best tips from around the world from our partners and friends. Discover some of the most popular listings in Sydney.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-grid mt-5">
            @{
                foreach (var p in Model.Plan)
                {
                    <div class="col-lg-4 text-center">
                        <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                            <i class="@p.Icon"></i>
                        </div>
                        <h5 class="text-white mt-3">@p.Title</h5>
                        <p class="text-white mt-3">@p.Text</p>
                    </div>
                }
            }

        </div>
    </div>
</div>

@await Component.InvokeAsync("VcRestourantManagers");

<div class="block-space bg-secondary">
    <div class="block-head text-center mb-5">
        <h2 class="head-line display-3">
            Recent Blog
        </h2>
        <p class="lead mt-2 head-desc">Hassel Free Service</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row row-grid">
                    @{
                        foreach (var b in Model.Blog)
                        {
                            <div class="col-lg-4">
                                <div class="card card-lift--hover shadow border-0">
                                    <div style=" height: 215px !important; width: 100% !important;">
                                        <img class="img-fluid" style="width: 100% !important; height: 100% !important; object-fit: cover !important;" src="assets/images/@b.Image" alt="list-logo">
                                    </div>
                                    <div class="card-body py-4" style="height: auto !important;">
                                        <h5>@(b.Title.Length>25? b.Title.Substring(0,25)+"...": b.Title)</h5>
                                        <p>@b.CreatedDate.ToString("d MMMM yyyy")</p>
                                        <p class="description mb-4" style="height: 81.6px !important;">@b.BlogInfo</p>
                                        <a class="btn btn-primary" asp-controller="Blog" asp-action="SingleBlog" asp-route-Id="@b.Id">Read More</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>