@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="card-title text-center my-4" style="font-size: 35px !important; font-weight: 600 !important; color: #3b579d !important; ">Messages</h4>
    @{
        if (TempData["MessageError"] != null)
        {
            <p style="font-size: 20px !important;" class="alert alert-danger">@TempData["MessageError"]</p>

            TempData["MessageError"] = null;
        }
    }
    <div class="row">
        <div class="list-group col-lg-12">
            <div>
                @{
                    int counter2 = 0;
                    foreach (var m in Model)
                    {
                        counter2++;
                        <div class="align-items-center d-flex mb-2">
                            <span class="badge badge-info" style="font-size: 18px !important;"> @counter2</span>
                            <a asp-controller="Message" asp-action="Read" asp-route-Id="@m.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@m.FirstName @m.LastName</h5>
                                    <small class="text-muted">
                                        @{
                                            var date = (DateTime.Now - m.CreatedDate);
                                            if (date.Days == 0)
                                            {
                                                if (date.Hours == 0)
                                                {
                                                    if (date.Minutes == 0)
                                                    {
                                                        @(date.Seconds) @(" seconds before")
                                                    }
                                                    else
                                                    {
                                                        @(date.Minutes) @(" minutes before")
                                                    }
                                                }
                                                else
                                                {
                                                    @(date.Hours) @(" hours before")
                                                }
                                            }
                                            else
                                            {
                                                @(date.Days) @(" days before")
                                            }
                                        }
                                    </small>
                                </div>
                                <small class="text-muted">@m.Subject</small>
                                <p class="mb-1">@(m.Content.Length>50? m.Content.Substring(0,50)+"...": m.Content)</p>
                            </a>
                            <a class="ml-3 btn-sm btn btn-danger" asp-route-id="@m.Id" asp-area="Admin" asp-controller="Message" asp-action="Delete" onclick="return confirm('Are you sure?')">Delete</a>
                        </div>
                    }
                }
            </div>

        </div>

    </div>
</div>




