@model VmContact

@{
    ViewData["Title"] = "Index";
}

<div id="titlebar" class="gradient" style="background: url(assets/images/@Model.Banner.Image)">
    <div class="title-bar-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.Banner.SubTitle</h2>
                    <span>@Model.Banner.Title</span>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>@Model.Banner.SubTitle</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="title-overlay"></div>
</div>
<div class="content pb-0">
    <div class="container">
        <div class="contact-wrapper">
            <div class="block-space pt-0">
                <div class="row">
                    <div class="col-lg-7 mb-4">
                        <h2>Stay Contact Us</h2>
                        <p class="lead">
                            Get in touch and let us know how we can help. Fill out the form and we’ll be in touch as soon as possible.
                        </p>
                        @{
                            if (TempData["MessageError"] != null)
                            {
                                <p style="font-size: 20px !important;" class="text-danger">@TempData["MessageError"]</p>
                                TempData["MessageError"] = null;
                            }
                            if (TempData["MessageSuccess"] != null)
                            {
                                <p style="font-size: 20px !important;" class="text-success">@TempData["MessageSuccess"]</p>
                                TempData["MessageSuccess"] = null;
                            }
                        }

                    </div>
                </div>
                <div class="contact-form-wrapper">
                    <form method="post" asp-controller="Contact" asp-action="Message">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <span class="text-danger MessageRequired">*</span>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="First Name" asp-for="@Model.Message.FirstName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <span class="text-danger MessageRequired">*</span>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Last Name" asp-for="@Model.Message.LastName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <span class="text-danger MessageRequired">*</span>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email address" asp-for="@Model.Message.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text MessageRequired"><i class="ni ni-user-run"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Subject" asp-for="@Model.Message.Subject">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4 position-relative">
                            <span style="top: -11px !important; left: -15px !important;" class="text-danger position-absolute">*</span>
                            <textarea class="form-control form-control-alternative" asp-for="@Model.Message.Content" rows="4" cols="80" placeholder="Type a message..."></textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-round btn-block btn-lg">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary">
        <section class="block-space contact-info">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="contact-media">
                            <i class="fa fa-map-marker"></i><span>Address:</span>
                            <p>@Model.ContactUs.Address</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="contact-media">
                            <i class="fa fa-envelope"></i><span>Email Address</span>
                            <a href="#">
                                @Model.ContactUs.Email
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="contact-media">
                            <i class="fa fa-phone"></i><span>Phone Number</span><a href="tel:@Model.ContactUs.Phone">@Model.ContactUs.Phone</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
